<!DOCTYPE html>
<html lang="es">
	<head>
		<!--Import Google Icon Font-->
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <!--Import materialize.css-->
	    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="utf-8">
		<title> Crear Usuario</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body onload="verificarFormulario()">
		<!-- PORTADA  -->
		<section class="container">
			<div class="row mt-10">
				<img class="responsive-img offset-s4 col s4" src="../static/img/icons/lockone.png" alt="lock" >
			</div>
			<h5 class="offset-s1 col s10 center"> Crear tu usuario Yape</h5>
			<p class="grey-text offset-s1 col s10 center">  Ingresa tu nombre, correo y clave de usuario.</p>
		</section>
		<!-- FORMULARIO -->
		<form action="#" class="container">
			<br>
			<section class="input-field row">
				<div class="offset-s1 col s10">
				  <!-- <i class="material-icons prefix grey-text">stay_current_portrait</i> -->
				  <div class="col s2">
					<img class="responsive-img" src="../static/img/icons/user.png" alt="">
				  </div>
				  <input id="nombre" type="text" placeholder="Nombre" class="validate col s8 center">
				</div>
				<div class="offset-s1 col s10">
				  <div class="col s2">
					<!-- <img class="responsive-img" src="../static/img/icons/user.png" alt=""> -->
					<i class="material-icons prefix grey-text">email</i>
					</div>
				  <input id="correo" type="email" placeholder="correo@dominio.com" class="validate col s8 center">
				</div>
				<div class="offset-s1 col s10">
				  <!-- <i class="material-icons prefix grey-text">stay_current_portrait</i> -->
				  <div class="col s2">
					<img class="responsive-img" src="../static/img/icons/lock.png" alt="">
				  </div>
				  <input id="inputClave" type="password" placeholder="Ingresa clave con 6 dígitos" class="validate col s8 center">
			  </div>
			</section>
			<section class="row center">
				<span class="grey-text">
					Cuida esta clave como oro, es tu acceso a Yape ;)
				</span>
			</section>
			<div class="row">
				<a id="btnCuenta" href="exito.html" class="btn waves-effect offset-s3 col s6 bck-Yellow disabled continuar"> CREAR CUENTA </a>
			</div>
		</form>
		<!--Scripts-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../static/js/materialize.js"></script>
		<script type="text/javascript" src="../static/js/main.js"></script>
	</body>
</html>
