<!DOCTYPE html>
<html lang="es">
	<head>
		<!--Import Google Icon Font-->
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <!--Import materialize.css-->
	    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="utf-8">
		<title> Exito</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body class="bck-Yellow">
			<div class="row mt-40">
				<img class="responsive-img offset-s4 col s4" src="../static/img/icons/check.png" alt="">
			</div>
			<h5 class="purple-light center">
				!Bien!
				<br>
				Ahora puedes usar Yape
			</h5>
			<a href="registroTarjeta.html" class="btn waves-effect white-text offset-s4 col s4"> Siguiente</a>
		<!--Scripts-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../static/js/materialize.js"></script>
		<script type="text/javascript" src="../static/js/main.js"></script>
	</body>
</html>
