<!DOCTYPE html>
<html lang="es">
	<head>
		<!--Import Google Icon Font-->
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <!--Import materialize.css-->
	    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="utf-8">
		<title> Ingresar Clave</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body>
		<!-- PORTADA  -->
		<section class="container">
			<div class="row mt-5">
				<img class="responsive-img col s2" src="../static/img/icons/question.png" alt="">
				<img class="responsive-img offset-s8 col s2" src="../static/img/icons/question.png" alt="">
			</div>
			<div class="row mt-10">
				<img class="responsive-img offset-s4 col s4" src="../static/img/icons/bcp-logo.png" alt="mensaje" >
			</div>
			<h5 class="offset-s1 col s10 center"> Ingresa la clave de tu tarjeta</h5>
			<p class="grey-text offset-s2 col s8 center"> Tarjeta ****1234</p>
		</section>
		<!-- FORMULARIO -->
		<form action="#" class="container">
			<br>
			<section class="input-field row">
				<div class="offset-s1 col s10">
					<div class="col s2">
						<img class="responsive-img" src="../static/img/icons/card.png" alt="">
					</div>
					<input id="inputClaveTarjeta type="password" class="validate col s9 center">
				</div>
			</section>
			<div class="row">
				<a href="" class="btn waves-effect offset-s4 col s4 bck-Yellow disabled"> REGISTRAR </a>
			</div>
		</form>

			<a href="perfilUsuario.html" class="btn waves-effect white-text offset-s4 col s4 boton"> Siguiente</a>
		<!--Scripts-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../static/js/materialize.js"></script>
		<script type="text/javascript" src="../static/js/main.js"></script>
	</body>
</html>
