<!DOCTYPE html>
<html lang="es">
	<head>
		<!--Import Google Icon Font-->
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <!--Import materialize.css-->
	    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="utf-8">
		<title> Ingresar Código</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body onload="leerDatos()">
		<!-- PORTADA  -->
		<section class="container">
			<div class="row mt-10">
				<img class="responsive-img offset-s4 col s4" src="../static/img/icons/message.png" alt="mensaje" >
			</div>
			<h5 class="offset-s1 col s10 center"> Ahora ingresa tu código</h5>
			<p id="textoNumero" class="grey-text offset-s1 col s10 center"> Enviaremos un SMS con el código de validación al número </p>
		</section>
		<!-- FORMULARIO -->
		<form action="#" class="container">
			<br>
			<section class="input-field row">
				<div class="offset-s1 col s10">
				  <!-- <i class="material-icons prefix grey-text">stay_current_portrait</i> -->
				  <div class="col s2">
					<img class="responsive-img" src="../static/img/icons/lock.png" alt="">
				  </div>
				  <input id="inputValidarCodigo" type="password" placeholder="- - - - - -" class="validate col s8 center">
			  </div>
			</section>
			<section class="row center">
				<span class="grey-text">
					Reintentar en
					<!-- <div class="">
						<img class="reponsive-img" src="../static/img/icons/clock.png" alt="clock">
					</div> -->
					<i class="tiny material-icons">schedule</i>
					<span id="temporizador"></span>
				</span>
			</section>
		</form>
		<!--Scripts-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../static/js/materialize.js"></script>
		<script type="text/javascript" src="../static/js/main.js"></script>
	</body>
</html>
