<!DOCTYPE html>
<html lang="es">
	<head>
		<!--Import Google Icon Font-->
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <!--Import materialize.css-->
	    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="utf-8">
		<title> Perfil Usuario</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body class="purple-dark white-text">
		<!-- PORTADA  -->
		<section class="container">
			<div class="row mt-5">
				<img class="responsive-img offset-s10 col s2" src="../static/img/icons/engine.png" alt="">
			</div>
			<div class="row ">
				<img class="responsive-img offset-s4 col s4" src="../static/img/icons/happy-face.png" alt="happy-face" >
			</div>
			<h5 class="offset-s1 col s10 center"> Hola</h5>
			<div class="row">
				<img class="responsive-img offset-s3 col s1" src="../static/img/icons/eye.png" alt="happy-face" >
				<p class="col s5 condiciones">
					Mostrar saldo
				</p>
			</div>
		</section>
		<!-- FORMULARIO -->
		<form class="container">
			<div class="input-field col s12">
				<select>
					<option value="" disabled selected>ÚLTIMOS MOVIMIENTOS</option>
					<option value="1">Option 1</option>
					<option value="2">Option 2</option>
					<option value="3">Option 3</option>
				</select>
			</div>
		</form>
		<!-- OPCIONES -->
		<section class="container">
			<div class="row">
				<img class="responsive-img col s4" src="../static/img/icons/icon.png" alt="happy-face" >
				<br>
				<span class="col s6">
					¿Aún no tienes tu primer pago?
					<br>
					Es rápido y sencillo
				</span>
			</div>
			<div class="row">
				<img src="../static/img/icons/send.png" alt="" class="responsive-img offset-s2 col s2">
				<img src="../static/img/icons/code-qr.png" alt="" class="responsive-img offset-s3  col s2">
			</div>
			<div class="row">
				<h6 class="offset-s1 col s4 center">ENVIAR PAGO</h6>
				<span class="offset-s1 col s4 center">RECIBIR PAGO</span>
			</div>
		</section>
		<!-- <a href="crearUsuario.html" class="btn waves-effect white-text offset-s4 col s4 boton"> Siguiente</a> -->
		<!--Scripts-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../static/js/materialize.js"></script>
		<script type="text/javascript" src="../static/js/main.js"></script>
	</body>
</html>
