/* Estilos generales*/
.mt-5{
	margin-top: 5%;
}
.mt-10{
	margin-top: 10%;
}

.mt-40{
	margin-top: 40%;
}

/*COLORES*/
.bck-Yellow{
	background-color: #fbd43b;
}

.condiciones{
	color: #00c3a3;
}

.morado{
	color: #49233b;
}

.purple-light{
	color: #451e36;
}

.purple-dark{
	background-color: #38052a;
}
/*Estilos index.html*/
#contenedorCarusel{
	/* Se colocó !important ya que de ninguna otra forma
	respetaba el alto del carusel (le pregunté a Ado y estuvo
	de acuerdo SALUDOS)*/
	height: 380px !important;
}

.carousel .indicators .indicator-item.active{
	background-color: #f64552;
}

.carousel .indicators .indicator-item{
	background-color: rgba(128, 128, 128, 0.7);
}

.pointer{
	cursor: pointer;
}
